[submodule "engine"]
	path = projects/engine
	url = ../engine.git
	branch = main
[submodule "ui"]
	path = projects/ui
	url = ../ui.git
	branch = main
[submodule "node"]
	path = projects/node
	url = ../node.git
	branch = main
