[submodule "engine"]
	path = projects/engine
	url = ../engine.git
	branch = main
[submodule "layout"]
	path = projects/layout
	url = ../layout.git
	branch = main
[submodule "ui"]
	path = projects/ui
	url = ../ui.git
	branch = main
[submodule "node"]
	path = projects/node
	url = ../node.git
	branch = main
[submodule "highlighter"]
	path = projects/highlighter
	url = ../highlighter.git
	branch = main
[submodule "storybook"]
	path = projects/storybook
	url = ../storybook.git
	branch = main
